@{
    ViewBag.Title = "Home Page";
}


</br>
</br>
</br>
<center><h3><b>Welcome to the Bug Tracker Project</b></h3></center>





<center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: blueviolet; border: 5pt lightgrey; padding: 10px;" value=" Take a Tour "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: firebrick; border: 5pt lightgrey; padding: 10px;" value=" Admin User "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: greenyellow; border: 5pt lightgrey; padding: 10px;" value=" Project Manager "></center></br>

<center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: deepskyblue; border: 5pt lightgrey; padding: 10px;" value=" Developer "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: orangered; border: 5pt lightgrey; padding: 10px;" value=" Submitter "></center></br>
