<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <title>Black Pearl Responsive Admin Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Black Pearl Responsive Admin Template">
    <meta name="keywords" content="Black Pearl, Admin, Template, Bootstrap">
    <meta charset="UTF-8">

    <!-- CSS -->
    <link href="template/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="template/css/calendar.min.css" rel="stylesheet">
    <link href="template/css/icomoon.min.css" rel="stylesheet">
    <link href="template/css/media-player.min.css" rel="stylesheet">
    <link href="template/css/file-manager.min.css" rel="stylesheet">
    <link href="template/css/form.min.css" rel="stylesheet">
    <link href="template/css/style.min.css" rel="stylesheet">

    <!-- The following CSS codes are used to display the template customization in this page. You can remove these codes anytime -->
    <style type="text/css">
        .template-customize {
            position: fixed;
            bottom: 0;
            right: 35px;
            background: #000;
            background: rgba(0,0,0,0.9);
            width: 154px;
            z-index: 10000;
            border: 2px solid #B6B6B6;
            border-bottom: 0;
            border-radius: 1px;
            box-shadow: 0 0 10px #000;
            height: 0;
        }

            .template-customize i {
                font-size: 30px;
                position: absolute;
                color: #000;
                top: -46px;
                left: 49px;
                padding: 10px 10px 4px 10px;
                border-radius: 100% 100% 0 0;
                background: #fff;
                background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #FFFFFF),color-stop(1, #B6B6B6));
                background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #B6B6B6 100%);
                background-image: linear-gradient(to bottom, #FFFFFF 0%, #B6B6B6 100%);
            }

                .template-customize i:hover {
                    cursor: pointer;
                    color: #3748d4;
                }

            .template-customize ul {
                list-style: none;
                float: left;
                margin: 10px 0 10px 20px;
                padding: 0;
            }

                .template-customize ul li {
                    width: 45px;
                    height: 30px;
                    overflow: hidden;
                    margin-bottom: 2px;
                }

                    .template-customize ul li:hover {
                        cursor: pointer;
                        opacity: 0.8;
                    }
    </style>



</head>



@{
    ViewBag.Title = "Home Page";
}


</br>
</br>
</br>
@*<center><h3><b>Welcome to the Bug Tracker Project</b></h3></center>*@





@*<center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: blueviolet; border: 5pt lightgrey; padding: 10px;" value=" Take a Tour "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: firebrick; border: 5pt lightgrey; padding: 10px;" value=" Admin User "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: greenyellow; border: 5pt lightgrey; padding: 10px;" value=" Project Manager "></center></br>

<center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: deepskyblue; border: 5pt lightgrey; padding: 10px;" value=" Developer "></center></br>

    <center><input type="button" style="font-face: 'Comic Sans MS'; font-size: x-large; color: black; background-color: orangered; border: 5pt lightgrey; padding: 10px;" value=" Submitter "></center></br>*@
<body>

    <!-- Content ----Main White color area-->
    <section id="content" class="container">

        <h3>Welcome to the Bug Tracker Project</h3>

        <!-- Social Counts -->
        <aside class="sidebar">
            <div class="col-md-4">
                <ul class="counts shadowed">


                    <li>
                        <span class="big-text">23500+</span>
                        <b><span class="sub-text">Total Projects</span></b>
                    </li>
                    <li>
                        <span class="big-text">125600+</span>
                        <b><span class="sub-text">Total Tickets</span></b>
                    </li>
                    <li>
                        <span class="big-text">362</span>
                        <b><span class="sub-text">Total High Priority Tickets</span></b>
                    </li>

                    <li>
                        <span class="big-text">362</span>
                        <b><span class="sub-text">Total Tickets Assigned to </span></b>
                    </li>

                </ul>
            </div>
        </aside>

    </section>

    


</body>